<h1>About</h1>

<p>You've found the homepage for the 
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> 
	<a href="http://onemonthrails.com">One month Rails</a> application. 
</p>
<p>
<a href="#">Sign UP Now!</a>
</p>

